# dependências
/node_modules
/.pnp
.pnp.js

# testes
/coverage

# build do Next.js
/.next/
/out/

# produção
/build

# variáveis de ambiente
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# arquivos do sistema
.DS_Store
Thumbs.db
*.pem

# editor
.vscode/*
!.vscode/extensions.json
.idea

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
